{{! Creamos nuestro formulario de chat }}
<form id="form-chat">
    <h3>CHAT-MESSAGE</h3>
    <label>Email:</label>
    <input id="input-email" type="text" required />
    <label>Mensaje:</label>
    <input id="input-text" type="text" required />
    <button type="submit">Enviar</button>
    <hr />
    <div id="chat" class="div-chat"></div>
    <hr />
</form>