<main>
    <section>
        <form action="/" method="post" id="form">
            <h2>Cargue</h2>
            <label for="titulo">Nombre: </label>
            <input type="text" id="titulo" name="title"  />
            <label for="precio">Precio:</label>
            <input type="number" id="precio" name="price" />
            <label for="imagen">URL imagen:</label>
            <input type="text" id="imagen" name="thumbnail" />
            <button type="submit">Enviar</button>
            <button type="reset">Borrar</button>
        </form>
    </section>
    <span></span>
    {{> partial}}
    {{> chat}}
    <script src="/socket.io/socket.io.js"></script>
    <script src="./main.js"></script>
</main>