
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title PUG
    body
        h1 Productos Cargados en pug 
        if mostrarProductos
            ul  
                each item in products
                    li=`${item.title}` 
            button()
                a(href="/") Volver 
        else
            h3 No tiene productos cargados.
                div()
                    a(href="/") Volver 